In [ ]:
#Insurance Dataset 6 02 2022

In [1]:
from google.colab import files
uploaded = files.upload()

Saving insurance.csv to insurance.csv

In [2]:
import pandas as pd
import numpy as np
import io
#df = pd.read_csv("/content/insurance.csv")
df = pd.read_csv(io.BytesIO(uploaded['insurance.csv']))
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [4]:
df.shape

(1338, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [7]:
categorical_names=['sex','smoker','region','children']
df_encoder=pd.get_dummies(data=df,prefix='OHE', prefix_sep='_', columns=categorical_names, drop_first=True, dtype='int8')
df_encoder

,age,bmi,charges,OHE_male,OHE_yes,OHE_northwest,OHE_southeast,OHE_southwest,OHE_1,OHE_2,OHE_3,OHE_4,OHE_5
0,19,27.900,16884.92400,0,1,0,0,1,0,0,0,0,0
1,18,33.770,1725.55230,1,0,0,1,0,1,0,0,0,0
2,28,33.000,4449.46200,1,0,0,1,0,0,0,1,0,0
3,33,22.705,21984.47061,1,0,1,0,0,0,0,0,0,0
4,32,28.880,3866.85520,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,10600.54830,1,0,1,0,0,0,0,1,0,0
1334,18,31.920,2205.98080,0,0,0,0,0,0,0,0,0,0
1335,18,36.850,1629.83350,0,0,0,1,0,0,0,0,0,0
1336,21,25.800,2007.94500,0,0,0,0,1,0,0,0,0,0
1337,61,29.070,29141.36030,0,1,1,0,0,0,0,0,0,0

In [8]:
X=df_encoder.drop(['charges'],axis=1)
y=df_encoder['charges']
print(X.shape,y.shape)

(1338, 12) (1338,)

In [10]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_new=scaler.fit_transform(X)
X_new

array([[-1.43876426, -0.45332   , -1.0105187 , ..., -0.3646069 ,
        -0.13798683, -0.11677484],
       [-1.50996545,  0.5096211 ,  0.98959079, ..., -0.3646069 ,
        -0.13798683, -0.11677484],
       [-0.79795355,  0.38330685,  0.98959079, ...,  2.74267989,
        -0.13798683, -0.11677484],
       ...,
       [-1.50996545,  1.0148781 , -1.0105187 , ..., -0.3646069 ,
        -0.13798683, -0.11677484],
       [-1.29636188, -0.79781341, -1.0105187 , ..., -0.3646069 ,
        -0.13798683, -0.11677484],
       [ 1.55168573, -0.26138796, -1.0105187 , ..., -0.3646069 ,
        -0.13798683, -0.11677484]])

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train , y_test = train_test_split(X_new, y , test_size=0.30, random_state=0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(936, 12) (936,)
(402, 12) (402,)

In [12]:
from sklearn.linear_model import LinearRegression
model=LinearRegression().fit(X_train, y_train)

In [14]:
model.score(X_test , y_test)

0.7899899554426714

In [13]:
y_pred=model.predict(X_test)
y_pred

array([11040.90216073,  9309.7829851 , 38393.60901442, 16015.93316861,
        6728.415514  ,  4030.66950914,  1612.94653689, 13764.35582297,
        8393.986819  ,  6868.81159022,  4204.68905213, 10707.48972423,
        8667.50264488,  3784.02365445, 27505.41205052, 10342.73632866,
       11086.52720575,  5955.15971261,  8632.74901443, 27003.67180132,
       33916.48844519, 14765.24767531, 11805.45931725, 31977.54987411,
        4098.78923853,  9097.0245239 ,  1164.53391788,  9399.85573894,
        3749.03832801, 10829.67068505,  8399.05186139, 39712.54747123,
       15715.57515859, 13895.98151471, 24668.18177497,  5212.1617842 ,
       13204.35343649, 30428.06543801, 33785.36966736,  3657.51573656,
        4058.80359505,  3946.96861054, 30431.1195646 , 39745.40015294,
       27575.63899905,  5454.5129915 , 10233.02862045,  7427.16831439,
        3493.33959801, 10069.81739446,  5731.33701091,  2787.34503345,
       32739.35954628, 37994.25700233, 16014.91886813,  7173.72658819,
        5668.09857036,  9229.41571424,  7162.44510733, 11357.40390947,
        1849.99503235, 38167.23307214, 14517.20988524, 12475.9500336 ,
       16482.52707925, 13900.54119264, 25613.60848891, 31424.81276012,
        1435.35809921, 12303.64876746, 12424.93357843, 11363.24084951,
       25090.37398685, 15608.69749726, 11014.8486831 , 12741.61262658,
        6612.53322574, 10207.25998824, 29930.43721791, 38816.17970163,
       12131.41462263, 37063.84150734,  3978.9715027 ,  9254.55327692,
       34565.19404464, 29314.05334158,  8484.82179234,  4652.33455077,
       11929.64252279, 30301.88176895,  9726.56537059, 11435.86926988,
        8389.3339065 ,  9534.72159159,  8452.22259782,  7193.55972164,
       35935.41622039, 33697.26678383,  8038.02249044, 15148.51701436,
        3951.72033943,  8391.03137116,  6915.19982627, 31341.51532032,
       32210.65102272,  1740.76156373,  9097.97068248,  6417.5073501 ,
       14640.01238645, 37126.54369795,  9571.4779523 , 11132.57825744,
        9834.12163972, 26840.69414863, 39531.2852005 ,  9169.50720433,
         148.66550938,  9062.82869929, 15121.13948905,  8928.08082006,
       34580.34706015,  7078.35577788, 17013.659079  ,  9287.85849787,
        8124.821101  ,  3358.74418289, 32671.85932716, 31753.68181783,
       39486.92166258,  5302.90490812,  9937.77514319,  3348.8951515 ,
        7451.87953877,  8716.35311251, 31602.22185774, 29826.63835676,
       29618.00949606,  9384.48487323, 32133.96714072,  2925.91480101,
        3428.49010673, 10915.95198948, 13750.51611313, 12924.42611033,
        5038.21899021, 15571.33630638, 14749.09570202,  2806.64618068,
        -229.10149511, 10763.44861528,  7303.50241498, 31604.62756616,
       12271.81211067,  2105.54112506,  6002.35839978,  7669.71104557,
        3997.18802993,  1886.12570863, 10761.48370589, 11922.43945861,
        6911.57177965, 16354.37436606, 11614.91660227, 13943.96166924,
        3259.11045874,  9694.66937145, 22996.54376904,  7260.59612856,
        5367.75439939,  5112.39547526,  7120.51274441,  5881.05213526,
       10405.51937733,  5303.99011927,  5363.9663259 ,  8969.57958871,
        4396.67359834,  5177.21168442, 37612.45786359,  1526.71244924,
       13049.6613992 ,  8336.80273222, 13542.36636301,  5338.1834909 ,
        5896.24726241, 36395.2991776 ,  4410.85204165,  1889.69669347,
       15004.37654767, 13379.19680838, 35038.44299669,  5380.87582089,
        5551.36335846, 31076.02721004,  5913.10291206,  2161.86047889,
        9125.26207631,  9697.51536972,  8573.52368723,  5378.02916932,
       13060.45924727, 38304.06467522, 14162.64723495, 28372.58057151,
        7157.16030886, 35173.96546357,  4452.24107889, 11864.27787738,
        9652.34884795,  6149.83427781, 10948.02339042, 14641.62899268,
        4547.17643759,  4456.33858969,  7768.35584526,  1363.98623733,
        7534.43238955,  4322.08273519, 12529.76289964,  4979.43820765,
        9733.23077827,  6901.86603336,  9340.14182895,  2451.81975884,
       13288.34872856, 16623.59865137, 15559.93404047, 10662.01268341,
        4916.92380429,  2194.81309836,  1871.23365741, 13364.53777689,
       14039.38816544,  7428.60169936,  3580.29224405, 10145.97099434,
        9887.01191392, 28150.77268032,  7533.09354795, 11210.13287087,
        6356.03297122, 29028.26587236, 11798.03328107,  7582.19119228,
        9615.29874185, 11844.99661412,  3684.13046464, 10453.109475  ,
        1591.4940996 ,  6940.62319234, 28092.9968975 , 39233.89228473,
        7006.04477386,  7937.5750203 ,  2560.42219875,   484.48922119,
       10418.1198792 ,  4125.02610132,  7086.12733142,  2158.05181133,
        6447.2880356 , 33139.83494492, 38163.92041307, 15191.01558927,
        7866.79110207, 16185.02344629, 32309.84964375,  9170.46622663,
       35831.07502517,  3297.43386421, 31300.1878384 ,  8846.57951711,
       14112.81256008,  4517.16741441, 31868.37667654,  8272.43051413,
       11205.23967327,  7270.56890592,  3834.21037723, 12606.84138479,
       11546.68651577,  8273.00223537, 13413.35906841,  2876.24741937,
       10533.43314383,  5141.06977671,  9090.28224585, 31366.84583785,
        9632.46811733,  1305.6347948 ,   910.07825073, 39655.46947748,
        9613.81521508,  6759.14666151, 14415.30741144, 13347.23446702,
       27242.05628612,  7070.80555018,  6802.36058024, 12254.32566556,
        2708.07305665,  4228.91218802, 25591.34890876, 25849.75731035,
       13049.64292706,  3344.64385511,  4646.34377384,  9026.58160245,
       12571.95332527, 23516.01585359, 32796.8269439 ,  9777.24092117,
       23720.85079827,  2699.55957812, 11325.24279408,  7307.37855507,
        8350.30180653,   610.14172655,  7874.94736937, 35340.83438156,
        6899.56675762,  6201.83893176,    46.62772491, 10610.59147765,
        6493.31494302,  9651.87179164, 38773.7078366 , 27957.37387457,
       11445.60149468, 35852.81900509, 15736.5636105 ,  7283.4903971 ,
       10526.90014875,  6603.83921959, 36394.5279478 ,  5555.03099193,
       11165.01904467,   757.83657339, 23953.70071832,  1738.22904254,
       33976.05453781, 11129.68837599,  1678.51243456, 32074.1759435 ,
        6352.08202288,  5380.22093493, 37185.57667811,  2415.15595346,
        9257.61622924,  3120.85479507, 11039.97925133,   971.5060176 ,
       11458.53356283,  6349.45964961, 36562.00161924,  7312.21146497,
       30154.1920787 , 29100.20210249,  6624.28730166,  9011.99973509,
        1792.17991685,  2385.34669438,  4249.31211077, 12400.81940527,
       37380.01541714,  9885.07954121,   543.27367327, 11515.8752235 ,
        4946.9836869 ,  9970.84365862,  5552.18448938,  7060.10540553,
        3854.52881799, 28274.71493254,  5053.6492515 , -1214.08236516,
       32745.24638745, 12425.33260522, 36558.21337257, 10007.29319864,
        7370.26058041,  -218.97141035,  2449.43192281, 12266.30575667,
        5672.03873802,  3476.31533855, 12044.7534989 ,  7429.52556249,
        7121.02139799,  6183.29883496,  2930.76731732, 32651.17078117,
        3439.53610646,  8753.45014217,  4563.85693418, 12998.4864709 ,
       14915.8036939 ,  7210.16586073, 28955.43201669, 14019.48694117,
       16879.65181265, 11616.29395403])

In [21]:
y_test

578      9724.53000
610      8547.69130
569     45702.02235
1034    12950.07120
198      9644.25250
           ...
1261     3277.16100
494     17942.10600
97      10226.28420
418     14418.28040
920     13451.12200
Name: charges, Length: 402, dtype: float64

In [16]:
df=pd.DataFrame({'Real Values':y_test,'Predicted Values':y_pred})
df

      Real Values  Predicted Values
578    9724.53000      11040.902161
610    8547.69130       9309.782985
569   45702.02235      38393.609014
1034  12950.07120      16015.933169
198    9644.25250       6728.415514
...           ...               ...
1261   3277.16100       7210.165861
494   17942.10600      28955.432017
97    10226.28420      14019.486941
418   14418.28040      16879.651813
920   13451.12200      11616.293954

[402 rows x 2 columns]

In [18]:
from sklearn.tree import DecisionTreeRegressor
model_DT=DecisionTreeRegressor().fit(X_train , y_train)

In [19]:
y_pred_DT=model_DT.predict(X_test)

In [20]:
df=pd.DataFrame({'Real Values':y_test,'Predicted Values':y_pred_DT})
df

      Real Values  Predicted Values
578    9724.53000       10085.84600
610    8547.69130        8233.09750
569   45702.02235       44202.65360
1034  12950.07120       12741.16745
198    9644.25250       10156.78320
...           ...               ...
1261   3277.16100        3577.99900
494   17942.10600       16297.84600
97    10226.28420       20781.48892
418   14418.28040       31620.00106
920   13451.12200       13415.03810

[402 rows x 2 columns]