<h1>Lab Assignment 7

In [2]:
teachers = {"Nisheeth" : "AIML", "Saurabh" : "SE", "Monika" : "DCN", "Dipanwita" : "AIML", "Vibhav" : "SE"}

In [3]:
DayMonths = {"Januray" : 31, "February" : 28, "March" : 31, "April" : 30, "May" : 31, "June" : 30, "July" : 31, "August" : 31, "September" : 30, "October" : 31, "November" : 30, "December" : 31}

In [4]:
teachers["Nisheeth"]

'AIML'

In [5]:
print("Nisheeth teachs ", teachers["Nisheeth"])

Nisheeth teachs  AIML

In [6]:
vow = {"V1":"a", "V2":"e", "V3":"i", "V4":"o", "V5":"u"}

In [7]:
vow["V1"]

'a'

In [8]:
vow["a"]

KeyError: 'a'

In [9]:
for key in vow:
    print(key, ":", vow[key])

V1 : a
V2 : e
V3 : i
V4 : o
V5 : u

In [10]:
vow.keys()

dict_keys(['V1', 'V2', 'V3', 'V4', 'V5'])

In [11]:
vow.values()

dict_values(['a', 'e', 'i', 'o', 'u'])

In [12]:
Emp = {}

In [13]:
Em = dict()

In [14]:
type(Emp)

dict

In [15]:
type(Em)

dict

In [16]:
Stud = dict(name="Karishma", course="AIML", marks=90)

In [17]:
Stud

{'name': 'Karishma', 'course': 'AIML', 'marks': 90}

In [19]:
Stud['Stream']="CS"

In [20]:
Stud

{'name': 'Karishma', 'course': 'AIML', 'marks': 90, 'Stream': 'CS'}

In [22]:
Stud["marks"] = 95

In [23]:
Stud

{'name': 'Karishma', 'course': 'AIML', 'marks': 95, 'Stream': 'CS'}

In [24]:
del Stud["course"]

In [25]:
Stud

{'name': 'Karishma', 'marks': 95, 'Stream': 'CS'}

In [27]:
"marks" in Stud

True

In [28]:
"marks" not in Stud

False

In [29]:
"CS" in Stud.values()

True

In [30]:
print(Stud)

{'name': 'Karishma', 'marks': 95, 'Stream': 'CS'}

In [31]:
len(Stud)

3

In [32]:
Emp

{'marks': 95}

In [33]:
Emp.clear()

In [34]:
Emp

{}

In [35]:
Stud.get("Stream")

'CS'

In [36]:
Stud.get("Course")

In [37]:
Stud.get("Course","Not Available")

'Not Available'

In [38]:
Stud.items()

dict_items([('name', 'Karishma'), ('marks', 95), ('Stream', 'CS')])

In [39]:
lst = Stud.items()

In [40]:
lst

dict_items([('name', 'Karishma'), ('marks', 95), ('Stream', 'CS')])

In [41]:
for i in lst:
    print(i)

('name', 'Karishma')
('marks', 95)
('Stream', 'CS')

In [42]:
St=dict()

In [43]:
St

{}

In [44]:
St.update(Stud)

In [45]:
St

{'name': 'Karishma', 'marks': 95, 'Stream': 'CS'}

## Lab 7
1. WAP to create a dictionary containing names of your friends as keys and their surnames as values
2. WAP to create marks of five students in tree subjects in five saperate dictionaries then create a nested dictionary which stores these five dictionaries and prints results of all the students
3. WAP to create marks of five students in tree subjects in five saperate dictionaries, add their marks and store it in their respective dictionaries.
4. WAP to create marks of five students in tree subjects in five saperate dictionaries, add find who got highest marks in which subject.
5. WAP to repeatitively asks a user for student name and marks. Store all of these in a dictionary whose keys are student names and values are marks
6. WAP to create a dictionary with month names as keys and no. of days as values. 
    a. Ask user to input month name and print the no. of days it has
    b. Print all the months with 30 days
7. WAP to store details of 10 students in a dictionary with keys RollNo, Name, Marks, CGPA
8. You have a dictioanry d1 = {"k1":"v1","k2":"v2","k3":"v3","k4":"v4","k5":"v5"}. WAP to reverse this i.e keys should become values and values should become keys. The result should be d2 = {"v5":"k5","v4":"k4","v3":"k3","v2":"k2","v1":"k1"}
9. WAP to input two dictionaries and print the overlapping keys in them.
10. WAP to check if two same values in a dictionary has different keys.

<h1> 1. WAP to create a dictionary containing names of your friends as keys and their surnames as values

In [2]:
friends = {"Priya" : "Singh", "Vertika" : "Garg", "Simran" : "Sachdeva"}
print(friends)

{'Priya': 'Singh', 'Vertika': 'Garg', 'Simran': 'Sachdeva'}

<h1> 2. WAP to create marks of five students in tree subjects in five saperate dictionaries then create a nested dictionary which stores these five dictionaries and prints results of all the students

In [2]:
dict1={"English":84, "Maths":84, "Science":50}
dict2={"English":74, "Maths":44, "Science":60}
dict3={"English":55, "Maths":14, "Science":60}
dict4={"English":64, "Maths":24, "Science":10}
dict5={"English":44, "Maths":84, "Science":20}
Final={"student1":dict1, "student2":dict2, "student3":dict3,"student4":dict4,"student5":dict5}
print(Final)

{'student1': {'English': 84, 'Maths': 84, 'Science': 50}, 'student2': {'English': 74, 'Maths': 44, 'Science': 60}, 'student3': {'English': 55, 'Maths': 14, 'Science': 60}, 'student4': {'English': 64, 'Maths': 24, 'Science': 10}, 'student5': {'English': 44, 'Maths': 84, 'Science': 20}}

<h1>3.WAP to create marks of five students in tree subjects in five saperate dictionaries, add their marks and store it in their respective dictionaries.

In [3]:
dict1={"English":84, "Maths":84, "Science":50}
dict2={"English":74, "Maths":44, "Science":60}
dict3={"English":55, "Maths":14, "Science":60}
dict4={"English":64, "Maths":24, "Science":10}
dict5={"English":44, "Maths":84, "Science":20}

<h1> 4.WAP to create marks of five students in tree subjects in five saperate dictionaries, add find who got highest marks in which subject.

<h1>5.WAP to repeatitively asks a user for student name and marks. Store all of these in a dictionary whose keys are student names and values are marks

In [8]:
dic = { }

while True :
    name = input("enter name of student (enter q for quit )= ")
    if name == "q" or name == "Q" :
        break
    else :
        marks = int(input("enter your marks = "))
        dic [ name ] = marks

print(dic)

enter name of student (enter q for quit )= Prerna
enter your marks = 100
enter name of student (enter q for quit )= AbcXyz
enter your marks = 54
enter name of student (enter q for quit )= q
{'Prerna': 100, 'AbcXyz': 54}

<h1>6.WAP to create a dictionary with month names as keys and no. of days as values. a. Ask user to input month name and print the no. of days it has b. Print all the months with 30 days

In [9]:
month = { "jan" : 31 , "feb" : 28 , "march" : 31 , "april" : 30 , "may" : 31 , "june" : 30 , "july" : 31 , "aug" : 31 , "sept" : 30 , "oct" : 31 , "nov" : 30 , "dec" : 31}

mon = input("Enter the month name in short form :- ")
print("Number of days in ",mon,"=",month [ mon ])

Enter the month name in short form :- feb
Number of days in  feb = 28

In [10]:
month = { "jan" : 31 , "feb" : 28 , "march" : 31 , "april" : 30 , "may" : 31 , "june" : 30 , "july" : 31 , "aug" : 31 , "sept" : 30 , "oct" : 31 , "nov" : 30 , "dec" : 31}

print( "Month which have 30 days !!-- ")
for i in month :
    if month [ i ] == 30 :
        print( i )

Month which have 30 days !!--
april
june
sept
nov

<h1>7.WAP to store details of 10 students in a dictionary with keys RollNo, Name, Marks, CGPA

In [1]:
details={}
for i in range(10):
    r=int(input("Enter Roll No.:"))
    n=input("Enter name:")
    m=float(input("Enter marks:"))
    g=float(input("Enter CGPA:"))
    details[n]=[r,m,g]
print(details)

Enter Roll No.:1913612
Enter name:Prerna
Enter marks:100
Enter CGPA:10
Enter Roll No.:2
Enter name:abs
Enter marks:10
Enter CGPA:10
Enter Roll No.:3
Enter name:pefreo
Enter marks:20
Enter CGPA:10
Enter Roll No.:4
Enter name:efe
Enter marks:50
Enter CGPA:10
Enter Roll No.:5
Enter name:prrnea
Enter marks:100
Enter CGPA:9
Enter Roll No.:6
Enter name:wfewf
Enter marks:80
Enter CGPA:8
Enter Roll No.:7
Enter name:ewfwf
Enter marks:50
Enter CGPA:7
Enter Roll No.:8
Enter name:ewgf,ekrp
Enter marks:50
Enter CGPA:8
Enter Roll No.:9
Enter name:prewq
Enter marks:100
Enter CGPA:9
Enter Roll No.:10
Enter name:egwe
Enter marks:100
Enter CGPA:10
{'Prerna': [1913612, 100.0, 10.0], 'abs': [2, 10.0, 10.0], 'pefreo': [3, 20.0, 10.0], 'efe': [4, 50.0, 10.0], 'prrnea': [5, 100.0, 9.0], 'wfewf': [6, 80.0, 8.0], 'ewfwf': [7, 50.0, 7.0], 'ewgf,ekrp': [8, 50.0, 8.0], 'prewq': [9, 100.0, 9.0], 'egwe': [10, 100.0, 10.0]}

<h1>8.You have a dictioanry d1 = {"k1":"v1","k2":"v2","k3":"v3","k4":"v4","k5":"v5"}. WAP to reverse this i.e keys should become values and values should become keys. The result should be d2 = {"v5":"k5","v4":"k4","v3":"k3","v2":"k2","v1":"k1"}

<h1>9.WAP to input two dictionaries and print the overlapping keys in them.

In [1]:
D1={}
D2={}
n1=int(input("Enter no. of enteries of d1"))
n2=int(input("Enter no. of enteries of d2"))
for i in range(n1):
    k=input()
    v=input()
    D1[k]=v
print("Dict 1:", D1)

for i in range(n2):
    k=input()
    v=input()
    D2[k]=v
print("Dict 2:", D2)
l=[]

for i in D1:
    if i in D2:
        l.append(i)
print("keys common in both in dictionaries:",l)

Enter no. of enteries of d12
Enter no. of enteries of d22
k1
v1
k2
v2
Dict 1: {'k1': 'v1', 'k2': 'v2'}
k1
v3
k1
v2
Dict 2: {'k1': 'v2'}
keys common in both in dictionaries: ['k1']

<h1>10.WAP to check if two same values in a dictionary has different keys

The original list is : [{'eee': 5, 'ddd': 8, 'ppp': 0}, {'eee': 5, 'ddd': 1, 'ppp': 0}, {'eee': 5, 'ddd': 0, 'ppp': 0}]
Similar values keys : ['eee', 'ppp']